:root {
    --br-lg: 1rem;
    --br-md: 0.5rem;
    --br-sm: 0.3rem;
    --grid-box-border-radius: 0%;
    --grid-line-size: 0.5px;
}

body {
    margin: 0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    color: white;
    font-family: 'Climate Crisis', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Zen Dots', cursive;

}

.colour-picker-container {
    border-radius: var(--br-md);
}

.colour-picker {
    
}

.slider-container {
    
}

.slider {
    appearance: none;
    background-color: rgba(50, 50, 50, 0.8);
    border-radius: var(--br-sm);
    box-shadow: 0 0 10px 0;
    transition: all 0.1s ease-in-out;
}

.slider:hover {
    scale: 1.1;
}

.slider::-webkit-slider-thumb {
    appearance: none;
    width: 1rem;
    height: 1rem;
    background-color: white;
    border-radius: var(--br-sm);
    transition: all 0.1s ease-in-out;
}

.slider::-webkit-slider-thumb:hover {
    scale: 1.4;
}

.slider::-moz-slider-thumb {

}

/* .button {
    border-width: 0;
    padding: 8px 20px 8px 20px;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 300ms;
    border-radius: 50px;
    background: linear-gradient(145deg, #ffffff, #e6e6e6);
    box-shadow:  20px 20px 60px #a3a3a3,
                -20px -20px 60px #ffffff;
}

.button:hover {
    border-radius: 50px;
    background: linear-gradient(145deg, #ffffff, #e6e6e6);
    box-shadow:  20px 20px 60px #d9d9d9,
                -20px -20px 60px #ffffff;
}

.button:active {
    border-radius: 50px;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow:  20px 20px 60px #d9d9d9,
                -20px -20px 60px #ffffff;
} */

.button {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.2) 0 2px 4px,rgba(45, 35, 66, 0.15) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
}

.button:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button:hover {
    box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px, rgba(45, 35, 66, 0.2) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}


/*      */
/* Grid */
/*      */

/* Grid Box */
.grid-box {
    border-radius: 0;
    border-radius: var(--grid-box-border-radius);
    background-color: white;
    aspect-ratio: 1/1;
}

/* Grid Board */
#eas-painting-board {
    /* box-shadow: 0 5px 20px 0; */
    display: grid;
    grid-gap: var(--grid-line-size);
    padding: var(--grid-line-size);
    background-color: black;
    /* border-radius: 5px; */
    /* min-height: 100%; */
    max-width: 640px;
    aspect-ratio: 1;
}


/* Layout */
#etch-a-sketch {
    display: grid;
    grid-template:
    [header-left] "head head" 150px [header-right]
    [settings-left] "settings  board" 1fr [board-right]
    / 1fr 2fr;
}

#eas-title {
    grid-area: head;
    text-align: center;
}

#eas-settings-pane {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: settings;
    border-radius: 0px;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow:  20px 20px 60px #d9d9d9,
                 -20px -20px 60px #ffffff;
}

#eas-painting-board {
    grid-area: board;
    border-radius: 0px;
    background: #ffffff;
    box-shadow:  20px 20px 60px #d9d9d9,
                 -20px -20px 60px #ffffff;
}

.slider-box-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}